
.borde-mio{
    border: px solid #023535;
    border-radius: 10px;
    margin: 1%;
    box-shadow: -3px 6px 21px -3px rgba(0,0,0,0.65);
    -webkit-box-shadow: -1px px 31px -3px rgba(0,0,0,0.65);
    -moz-box-shadow: -3px 4px 11px -3px rgba(0,0,0,0.65);
}

